<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Don&apos;t be afraid of failing, be afraid of doing nothing. </string>
	<string>Just do it, and find the solution to make it work.</string>
	<string>You won&apos;t figure out what needs to be improved, until you fail. If you fail a new challenge, find out what was wrong. You get closer to success while learning in the real situation.</string>
	<string>Repeat to yourself what you want to be, every day: &quot; ....Type here your dream/vision....&quot;</string>
	<string>Don&apos;t spend your time on someone who isn’t willing to spend time with you. If you have to beg for someone to be in your life, they might not belong in your life.</string>
	<string>When you are stuck, imagine being you 10 years in the future and ask yourself for advice. This way you are more likely to make long term smarter decisions.</string>
	<string>There are three types of people in the world: one that envies others, one that is envied by others, and one that is loved by others. Always search for and practice how you can live to be loved.</string>
	<string>Train yourself with a specific skill everyday. The more you train yourself, The more profit your business gains.</string>
	<string>Improve yourself everyday to increase the quality of your energy to attract people, luck, and wealth.</string>
	<string>Always cheer up yourself to make people&apos;s mind easy and merry, then you&apos;ll build up virtue. Being down or in a bad mood is vice, which attracts bad luck.</string>
	<string>Care about others, but live for yourself.</string>
	<string>Don&apos;t get attached to anything and let go when the time comes. Nothing in life is permanent.</string>
	<string>Once you don&apos;t let it go, it will leave you since it&apos;s against the law of life. Letting go is part of life. When someone tries to take your bag away from you, let it go. Your hands will be free to carry a new one when you find it.</string>
	<string>Ask yourself if this is a choice, decision, or work-around to improve your virtue.</string>
	<string>Improve your virtue quality by keeping your faith to the cause-effect of life and make action with forgiveness and appreciation.</string>
	<string>Heaven always arranges the timing of your life in the best yet mysterious way. Let it be and let it go.</string>
	<string>Always keep aim to be the best version of yourself. Don&apos;t settle for second place.</string>
	<string>Improve yourself by socializing with people who have more experience. Inspire your brain by listening and watching others,. Do not make your brain idle and lazy.</string>
	<string>Be honest to your destiny. Find yourself.</string>
	<string>Sometimes having pleasure, anger, sorrow, and fun is important to make you a whole person.</string>
	<string>Have bright shining vision. Set goals with milestones and requirements to realize it. List and complete tasks to achieve each goal.</string>
	<string>Establish your expertise in a specific niche. Be an expert/karisma who can educate your customers of the advantages and differences of the services and goods that you are handling.</string>
	<string>Success gives you motivation, but failure gives you anxiety, inexperience makes you lost, which causes frustration and procrastination. Only success motivates you to take an action.</string>
	<string>If you fail, analyze what&apos;s unclear to you and come up with a way to clear it. Try to complete and come up with work-around for each small task with perseverance just like clearing one stage of a game.</string>
	<string>When you feel it is impossible to focus on a task or you are stuck on an issue, take a short break to rest your brain.</string>
	<string>Spend time to improve technical skills, design (store POP), communication with customers, marketing, or whatever improves your business or work.</string>
	<string>While you enjoy your job, you&apos;re still in the middle of learning. When you no longer enjoy your work after years of learning, you&apos;ve become a professional of that field. If you change your career because you no longer feel excitement, you&apos;d lose everything that you have built. Focus on your specialization and continue learning something new and more to move up to new heights.</string>
	<string>Tell your customers what you can do, have mastered, and have done, which attract more customers. Be a seller that your customers seek for.</string>
	<string>When you start getting bored with your job, that&apos;s evidence that you gained trust from your customer. You&apos;ve become a professional for the job that your customers want to hire. Instead of getting tired of doing the same old thing, think about how you can enjoy yourself more.</string>
	<string>Gossip and news are useless. Do not fill your mind with useless information that does not benefit your wellbeing.</string>
	<string>When your motivation is low, watch, read, or listen to how other experts do their job, and think about how you can excel them.</string>
	<string>When you&apos;re stuck wth a problem, you&apos;re learning something. You can&apos;t learn anything without getting into a problem. Learn from the current problem to train yourself.</string>
	<string>The purpose of education is to teach what&apos;s interesting about the subject. Practice is to master the skill to experience its fun. Action is to challenge and produce its result from experiencing its fun.</string>
	<string>Block out everything else to focus on one thing. </string>
	<string>When you have no idea where to start or how to do it, learn the basic of the basics first in 15 minutes. Take the first step then it starts rolling.</string>
	<string>Treat others the way you would like to be treated Always take care of things with bright, easy, and fun mind. </string>
	<string>Always think about making profit, and act. Make lemonade if given with lemon.</string>
	<string>When trouble happens, gamificate it to overcome. </string>
	<string>Unwanted events happen every day. One has to make good events happen.</string>
	<string>Don&apos;t talk negative about your competitor or someone. Look into bright side of them, you&apos;ll eventually overcome them.</string>
	<string>A loser gives up on the competition, and talks about somebody&apos;s short-coming. One who looks into somebody&apos;s strengths and advantages eventually improves and overcomes them. </string>
	<string>Consider how people around you perceive you and behave as a respectful adult. Define how you want people to think about you and stick with it. </string>
	<string>Don&apos;t curse one that gives you a hard time, don&apos;t pity yourself having misfortune. Overcoming such hardship and showing to others may help many others. You&apos;ve got such hardship because you have strength and intelligence to overcome it. You are chosen.</string>
	<string>Do not take it out on somebody just because you want to forget about your problem, frustration, inferiority, or anger. Expectation often causes unnecessary frustration.</string>
	<string>Somebody somewhere implanted that inferiority to you. Dig deeper to take out and get rid of that inferiority. Unhappiness starts from misunderstanding. Inferiority is the matter of mind, you can&apos;t get rid of it just because you become rich, successful, or popular.</string>
	<string>Unnecessary gossip degrades your mind and energy.</string>
	<string>Think what makes you happy first. Your mission is to become happy by doing what makes you happy. You can only help in other&apos;s happiness if you are happy.</string>
	<string>Always be on alert of your surroundings and the people around you.</string>
	<string>Stay away from people who gossip about others.</string>
	<string>Improve your virtue by positively thinking and acting for your dream, which makes people around you happier.</string>
	<string>You will suffer for the amount of bad karma that you have accumulated in your life. Create more good karma than bad karma to avoid suffering.</string>
	<string>Do not forget the appreciation and giving-back when somebody helps you.</string>
	<string>Avoid people who can&apos;t keep their mouth&apos;s shut.</string>
	<string>When things don&apos;t work, change the way to handle it. Do not stick with an old way.</string>
	<string>Make yourself the first customer for your business. If you can&apos;t convince yourself, then you can’t convince others.</string>
	<string>Find goods or service that you love, and keep talking about it to your customers with excitement. Don&apos;t worry whether your customer buys it or not.</string>
	<string>You don&apos;t know if that job suits you or not by thinking. Your heart can tell you that.</string>
	<string>You never run out of customers if your business gives them something to live for.</string>
	<string>Happiness is about lifting the moods of people around you. A happy person carries and bring luck to you, always strive to make the unhappy, happy.</string>
	<string>You&apos;re not going to make business while looking for your customers. Be one that your customers are looking for. </string>
	<string>It is usual that you need to deal with hardship with whatever you do in life. Hardship is in everyone&apos;s’ life. Do not whine about it, blame it on others, or have a bad mood, for this leads to others having a bad mood. </string>
	<string>Aim for perfection when practicing, but use 80% of your effort when executing it. Practice and train yourself so that you can produce the result even with 80% of your ability.</string>
</array>
</plist>
