<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Personal Relationship</string>
	<string>Internet Activities</string>
	<string>Personal Productivity</string>
	<string>Work &amp; School</string>
	<string>Commuting, Transportation, &amp; Travel</string>
	<string>Hobbies &amp; Socializing</string>
	<string>Shopping &amp; Dining</string>
	<string>Family &amp; Households</string>
	<string>Finance</string>
	<string>Health &amp; Exercise</string>
</array>
</plist>
