<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do not be afraid of failing. Be afraid of doing nothing. by Soichiro Honda, Founder of Honda</string>
	<string>Just do it anyway, then figuire it out. by Yoshio Moriguchi</string>
	<string>You won&apos;t figuire out what needs to be improved. You failed because something was wrong. Find out what was wrong. You always fail when you challlenge something new. You get closer to success while learning in the real situation.</string>
	<string>Do not even waste time on something or someone makes you feel bad. Always look for something or someone makes you feel good. If you happen to feel frustrated or anxious, create something like a song or painting out of it to clear your mind. Upload it to YouTube for fun.</string>
	<string>When you&apos;re stuck with something, ask yourself from ten years future for an advice. He&apos;d be a litter better off than you now, and give you a right advice.</string>
	<string>There are three types of people in the world: One that envies the other, one that is jeloused by the others, and one that is loved by the others. Always search for and practice how you ought to live to be loved.</string>
	<string>Improve everything day and night and increase the quality of your energy to attract people, luck, and wealth.</string>
	<string>Always cheer yourself to make prople&apos;s mind easy and merry, then you&apos;ll build up virtue. Being down or in bad mood is vice, which attracts bad luck and evil spirit.</string>
	<string>Don&apos;t get attached to anything and let go when time comes. Nothing belongs to you. Forget old, challenge new. Do not clam at the same place. Always pursuit for dream from your heart.</string>
	<string>Once you don&apos;t let it go, it will leave you since it&apos;s against the law of life. Letting go is life, which brings the beginning of new one to you. Everything stay with you, temporarily. When someone tries to take your bag away from you, let it go. Your hands will be free to carry a new one when you find it. </string>
	<string>Improve your virtue quality by keeping your faith to the cause-effect of life and make action with forgiveness and appreciation.</string>
	<string>Ask yourself if this is a choice, decision, or work-around to imporve your virtue.</string>
	<string>Heaven always arranges the timing of your life in the best yet misterious way. Let it be.</string>
	<string>Don&apos;t satisfy, but always keep aiming for the higher standard. Others go ahead of you since something is wrong.</string>
	<string>Improve yourself and socialize with ones that are better than you. Do not let your brain lazy.</string>
	<string>Repeat to yourself what you want to be, every day, every hour: &quot; ....Type here your dream/vision....&quot;</string>
	<string>Live being honest to your destiny. A strong person be strong, a positive person be positive, a fashionable person be fashionable, so on. Heaven has already defined you.</string>
	<string>One becomes evil if not playing and having fun with others. One becomes perfect when having pleasure, anger, sorrow, and fun.</string>
	<string>Live for yourself. No need to live for someone else.</string>
	<string>Have bright shining vision. Set goals with milestones and requirements to realize it. List up and complete tasks to achieve each goal.</string>
</array>
</plist>
