<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do not be afraid of failing. Be afraid of doing nothing. by Soichiro Honda, Founder of Honda</string>
	<string>Just do it anyway, then figuire out how to make it work. by my dad</string>
	<string>You won&apos;t figuire out what needs to be improved, until you fail. You failed because something was wrong. Find out what was wrong. You always fail when you challlenge something new. You get closer to success while learning in the real situation.</string>
	<string>Repeat to yourself what you want to be, every day, every hour: &quot; ....Type here your dream/vision....&quot;</string>
	<string>Do not even waste time on something or someone makes you feel bad. Always look for something or someone makes you feel good. If you happen to feel frustrated or anxious, create something like a song or painting out of it to clear your mind. Upload it to YouTube for fun, for instance.</string>
	<string>When you&apos;re stuck with something, imagine and ask yourself in ten years future for an advice. He&apos;d be a little better off than you are now, and give you a better advice.</string>
	<string>There are three types of people in the world: One that envies the other, one that is jeloused by the others, and one that is loved by the others. Always search for and practice how you ought to live to be loved.</string>
	<string>Train yourself with the specific skill everyday. Only one who walks every day can gain walking strength. The more you train yourself, The more profit your business gains.</string>
	<string>Improve everything day and night and increase the quality of your energy to attract people, luck, and wealth.</string>
	<string>Always cheer yourself to make prople&apos;s mind easy and merry, then you&apos;ll build up virtue. Being down or in bad mood is vice, which attracts bad luck and evil spirit.</string>
	<string>Live for yourself. No need to live for someone else.</string>
	<string>Don&apos;t get attached to anything and let go when time comes. Nothing belongs to you. Forget old, challenge new. Do not clam at the same place. Always pursuit for dream from your heart.</string>
	<string>Once you don&apos;t let it go, it will leave you since it&apos;s against the law of life. Letting go is life, which brings new one to you. Everything stay with you, temporarily. When someone tries to take your bag away from you, let it go. Your hands will be free to carry a new one when you find it.</string>
	<string>Ask yourself if this is a choice, decision, or work-around to imporve your virtue.</string>
	<string>Improve your virtue quality by keeping your faith to the cause-effect of life and make action with forgiveness and appreciation.</string>
	<string>Heaven always arranges the timing of your life in the best yet misterious way. Let it be and let it go.</string>
	<string>Always keep aiming for the higher standard. Or others go ahead of you. Don&apos;t settle self as second to someone.</string>
	<string>Improve yourself by socializing with ones that are better than you. Inspire your brain by listening and watching others who are better than you,. Do not make your brain idle and lazy.</string>
	<string>Be honest to your destiny. A strong person be strong, a positive person be positive, a beautiful person be beautiful, so on. Heaven has already defined you. Find yourself.</string>
	<string>One becomes evil if not playing and having fun with others. Sometime having pleasure, anger, sorrow, and fun is important to make you a whole person.</string>
	<string>Have bright shining vision. Set goals with milestones and requirements to realize it. List up and complete tasks to achieve each goal.</string>
	<string>Establish your expertise in a specific niche. Be an expert/kalisma who can educate your customers of the advantages and differences of the services and goods that you are handling. Those shall survive in AI era.</string>
	<string>Success gives you motivation, but failure gives you anxiety, inexperience gives you unclear, which causes frustration and procrastination. Only success motivates you to take an action.</string>
	<string>When failed, before prostacrinate it, analyze what&apos;s unclear to you and come up with the way to clear it. Divide tasks into the smallest unit so that you can minimize the prostacrination cost. Try to complete and come up with work-around for each small task with perseverance just like clearing one stage of a game, which shall be the joy of making an effort.</string>
	<string>When impossible to focus on a task or stuck on an issue, take a break, take 15-minute nap, or do something else to relax your brain muscle and re-wire neuron, watching video, doing light exercise, singing a song, so on.</string>
	<string>The reason why your business or work is not working is because you are not training yourself and wasting time doing unneccessary things. Spend time to improve technical skills, design (store POP), communication with customers, marketing, or whatever improves your business or work.</string>
	<string>While you enjoy your job, you&apos;re still in the middle of learning. When you no longer enjoy your work after years of learning, you&apos;ve become a professional of that field. If you change your career just because you no longer feel excitement, you&apos;d lose everything that you have built. Focus on your specialization and continue learning something new and more to move up to new height.</string>
	<string>Tell your customers what you can do, have mastered, and have done, which attract more customers. Be attractive enough one that your customers seek for. If you have too much time to kill, you&apos;re not attractive enough to your customers. Because you&apos;re useless. Think about it.</string>
	<string>When you start getting bored with your job, that&apos;d be an evidence that you gained trust from your customer. You&apos;ve become a professional for the job that your customers wants to hire. Instead of getting tired of doing the same old thing, think about how you can enjoy more from here.</string>
	<string>Gossip and news are trash and useless. Do not fill your mind and brain with trash. Do not listen to anybody who wastes your time. Ignore and minimize the contact.</string>
	<string>When your motivation is low, watch, read, or listen to how other experts do their job, and think how you can excel them.</string>
	<string>When you&apos;re stuck wth a problem, you&apos;re learning something. You can&apos;t learn anything without getting into a problem. Learn from the current problem to leverage and train yourself.</string>
	<string>The purpose of education is to teach what&apos;s interesting about the subject. Practice is to master the skill to expericence its fun. Action is to challenge and produce its result from experiencing its fun.</string>
	<string>Block everything else to focus on one thing. You don&apos;t see it, it doesn&apos;t exist, then no need to make an effort to focus.</string>
	<string>When you have no idea what to start or how to do it, learn the basic of the basic first in 15 minutes. Take the first step then it starts rolling.</string>
	<string>Don&apos;t push one to the edge. Let him calm down, and make feel better. It is the work of devil to stir up anxiety or make one feared. Unwanted does happen when you&apos;re worried. Always take care of things with bright, easy, and fun mind. </string>
	<string>Whatever happens or you are asked to do , always think about making profit, and act. Make lemonade if given with lemon.</string>
	<string>When unwanted or troubled happens, gamificate it to overcome. </string>
	<string>Unwanted happens every day. One has to make a good thing happened.</string>
	<string>Don&apos;t talk nagative about your competitor or someone. Look into and value the bright side of him, you&apos;d eventually overcome them.</string>
	<string>A loser gives up on the competition, and talk loud about somebody&apos;s short-coming. One who looks into somebody&apos;s strength and advantages eventually master, imrpove and overcome them. </string>
	<string>Consider how people around you percieve you and behave as a respectful adult. Define how you want people to think about you and stick with it. </string>
	<string>Don&apos;t curse one that gives you hard time, don&apos;t pitty yourself having misfortune. Think about why heaven gave you such hardship. Overcoming such hardship and showing to others may help many others, for instance. You&apos;ve got such hardship because you have strength and intelligence to overcome it. You are chosen.</string>
	<string>Do not take it out on somebody just because you want to forget about your problem, frustration, inferiority, or anger. Expectation often causes unnecessary frustration over and push someone to the corner. Expectation is pressure, NOT love.</string>
	<string>Somebody somewhere implanted that inferiority to you. Dig deeper to take out and get rid of that inferiority. Pretending it&apos;s for the sake of a child or an employee, you&apos;re trying to forget that inferiority, and taking it out on them. Behave not to give anybody any inferiority. Unhappiness starts from misunderstanding. Inferiority is the matter of mind, you can&apos;t get rid of it just because you become rich, successful, or popular.</string>
	<string>Minimize your interaction with others, or you become to criticize or bad-mouth about him more than necessary. Bad-mouthing degrades your mind and energy.</string>
	<string>Think what makes you happy first. You don&apos;t have to occupy your mind with other people&apos;s business. One has to take care of own business, no matter how helpless he may look. Your mission is to become happy by doing what makes you happy. You can help others only by doing that, becoming happy.</string>
	<string>Periodically meeting with someone eventually let him have unneccesary expectation, &apos;cause people are constantly looking for help. If someone is getting unusually closer with you, stay away from him. He&apos;s lurking over your job, money or girlfriend. Meet your old friends no less than every three years.</string>
	<string>Stay away from ones that bad-mouth about others. Some spits venom to anybody. Others won&apos;t, and they are looking and waiting for you.</string>
	<string>Impove your virtue by positvely think and act for your dream, which makes people around you happier. Then you accumulate good karma.</string>
	<string>You will suffer for the amount of bad karma that you have accumulated in your life. Create good karma more than bad karma to avoid suffering.</string>
	<string>Do not forget the appreciation and giving-back when somebody helped you.</string>
	<string>Some poeple tend to talk endlessly without a point, and damage your mind for a week. Avoid them at every cost.</string>
	<string>When things don&apos;t work, work, relationship, or whatever, change the way to handle it. Do not stick with an old way.</string>
	<string>Make yourself the first customer for your business. If you can&apos;t convince yourself, no one would be.</string>
	<string>Find goods or service that you love, and keep talking about it to your customers with positive mind and excitement. Don&apos;t worry whether your customer buys it or not.</string>
	<string>You don&apos;t know if that job suits you or not by thinking. Your heart can tell you that.</string>
	<string>You never run out of customers if your business gives them dream and hope. Do they like you, by the way?</string>
	<string>Happiness is about lifting the mind and feeling of people around you, and that happiness brings another. A happy person carries and bring luck to you. If you find unhappy one, make him happy.</string>
	<string>You&apos;re not going to make business while looking for your customers. Be one that your customers are looking for. Then advertising would work. Speding money on advertising is wasete if you haven&apos;t become the one that your customers are looking for. It is absolutely waste and useless for a guy whom women don&apos;t like looks for a woman. Be a man that a woman seeks for, then your search would work.</string>
	<string>It is usual that you need to deal with hardship whatever you do in life. People look down on you if you start working without diploma, You&apos;d have hardship at least double if you immigrate in a foreign country. if you quit a stable job, you&apos;d suffer the financial instability all the time. These are something you always have to have in life. Do not whine about it, blame on others, or having bad mood, which makes people around you unhappy. You&apos;d better quit it now.</string>
</array>
</plist>
