<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>自分の専門を限定し得意分野を確立させよ。自分が提供している物やサービスの良さ・違いを客にわからせ啓蒙教育できるようなエキスパートやカリスマのみがAI時代に生き残れる。</string>
	<string>勝つためには自分を鍛えるしかない。常日頃歩いている人にしか歩く能力はつかない。自分を鍛えれば鍛えるほど儲かるのが商売。</string>
	<string>成功体験からやる気が生じ、失敗体験や未経験からくる不明点と不安で現実逃避が生じる。やる気はあくまで成功した体験があるから起こるものだ。</string>
	<string>失敗体験したら、現実逃避する前に、どうしたら不明点をクリアし成功できるか分析せよ。作業を分割し失敗による停滞コストを最小限にし、一つ一つ地道に成功するまで工夫しやり方を変えやり直し続けよ。それこそが努力する楽しみというものだ。 </string>
</array>
</plist>
