<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>失敗することを恐れるのではなく、何もしないことを怖れること。とにかくまずやってみて、それから考える。</string>
	<string>お金の価値は使った時の満足度で決まる。それは得てしてその一万円を稼ぐのにどれほど苦労したかに比例する。宝くじを当てた人が使う一万円や親の金で使う一万円より、時給千円の中から貯金した一万円を使う人のほうが遥かに満足度が高いであろう。億万長者になることが幸せなのではなく、億万長者になるのにどれほど努力を重ねたかが肝心。だから金持ちであろうがなかろうが、300円のたぬきそばを食べて満足する人は素晴らしいのだ。</string>
	<string>学校へ行くことだけが勉強や教育ではない。街中で人の表情を眺めているだけでも学ぶことがあり知恵がつく。学ぶものがあればそこが学校だ。</string>
	<string>知識はいつか陳腐化する。知識の偏差値が高くても役に立つのは数年だ。心の偏差値を高めて初めて勉強をした成果があったというものだ。</string>
	<string>失敗しなければ改良する点がわからない。失敗したのは何かが間違っていたから。それを見つけ出し改良してみる。新しいことに挑戦するときは失敗して当たり前で、実践の中で学習して成功に近づく。⁠⁠⁠</string>
	<string>毎日、毎時間、なりたい自分を唱えてみる。「（自分の目標・ビジョンをここに記入してください。）」</string>
	<string>⁠⁠⁠⁠気分悪くなることにわざわざ時間をかけず、気分良くなることを常に探す。余計な不満や不安があったら、曲や絵にでもして心を洗う。</string>
	<string>イラっとすることがあったり、くだらないニュースを読んで憤ったら、曲や絵や俳句にでもしてネガティブな気を洗い流して忘れる。</string>
	<string>10年後に今より少しだけ成功している自分を呼び出し、今の自分に助言させてみる。そいつがいなくなったら、そいつよりまたもう少しだけ未来の自分を呼び出してみる。</string>
	<string>世の中には人を妬む人間と人に妬まれる人間と人に愛される人間の三種類がいる。愛されるためにどう生きればいいのか常に実践する。</string>
	<string>⁠⁠⁠⁠勝つためには自分を鍛えるしかない。常日頃歩いている人にしか歩く能力はつかない。自分を鍛えれば鍛えるほど儲かるのが商売。</string>
	<string>あらゆるものを日々努力改善させ、波動を上げることにより人と運と金を引き寄せる。</string>
	<string>常に自分の機嫌を取り、人の気持ちを軽く、明るくさせて「人気」、つまり徳を積もう。徳とは自らの気をあげることにより周りの人の気を上げられること。落ち込んだり塞ぎ込んだり不機嫌でいるのは不徳であり、全ての不運や邪気を引き寄せてしまう。</string>
	<string>自分の人生も生きていない人が他がために生きることはできない。</string>
	<string>執着せず時が来たなら手放す。この世に自分のものは一切存在しない。執着を捨て挑戦に生きる。一箇所に決して留まることなく、常に心からの夢を追い求める。</string>
	<string>ものや人に執着するだけで道理に反するが故、たちまちそれは離れていくだろう。手放すことが生きることであり、手放すことが新たな生の始まりとなる。自分に所属するものや人は一切存在せず、たまたま暫定的にそばにあるだけ。誰かが鞄を取ろうとしたら取らせればいい。重荷から解放されれば楽になる。そして新しい鞄を見つけたら持ち歩くことができる。</string>
	<string>精神向上させる選択、工夫、決定か自問する。</string>
	<string>因果応報を忘れず、ものごとに許す・感謝の気持ちを持ち行動することで波動を変える。</string>
	<string>天の時間調整は最善を期されており、それに身を任せる。</string>
	<string>これでいいと思わず、これじゃおかしいだろと思い続けよう。何かがおかしいから人と差がつく。</string>
	<string>自分を向上させ、自分よりレベルの高い連中とつきあい、自分の脳を怠けさせないようにする。</string>
	<string>天の定めに素直に生きる。気の強いものは気強く振る舞い、明るい者は明るく振舞う。</string>
	<string>人は遊ばないと鬼になる。喜怒哀楽が揃って完全となる。</string>
	<string>光り輝くVisionを、理想を描き、それを実現させるための必要条件やマイルストーンを目標として設定し、その目標を達成することを目的とする作業を細かに日々策定し実行する。
⁠⁠</string>
	<string>自分の専門を限定し得意分野を確立させよ。自分が提供している物やサービスの良さ・違いを客にわからせ啓蒙教育できるようなエキスパートやカリスマのみがAI時代に生き残れる。</string>
	<string>成功体験からやる気が生じ、失敗体験や未経験からくる不明点と不安で現実逃避が生じる。やる気はあくまで成功した体験があるから起こるもの。</string>
	<string>失敗体験したら、現実逃避する前に、どうしたら不明点をクリアし成功できるか分析する。作業を分割し失敗による停滞コストを最小限にし、一つ一つ地道に成功するまで工夫しやり方を変えやり直し続ける。それこそが努力する楽しみ。  
</string>
	<string>妄想やゲームや掃除などに現実逃避するのは目の前の作業の始め方や何が不明なのかが明確にしていないから。その作業を細分化不可能になるまで手順を最小化し一つずつ、ゲームの一面をクリアするかのように何度も挑戦して克服し楽しむ。それこそ仕事や学習の一番楽しいところ。  
</string>
	<string>￼商売や仕事がうまくいかないのは、勉強せずに余計なことをしているから。POPの書き方だとか客との会話術とか飾りつけや集客法とか直接役に立つことを勉強する。お客が来ないのは100%自分の勉強不足。  商売や仕事うまくならない人は勉強していない。 </string>
	<string>その仕事に飽きたら客から信頼された証。その仕事ならお前に任せたいと思われるほどのプロになったということ。毎回同じことをやらされてうんざりと思う前に、ここから今度はどうやったら楽しめるのかを考える。</string>
	<string>学んだことや経験してできることは客に言いできることを伝える。それが魅力のある人間、客に必要とされる人間となること。必要とされないから暇。</string>
	<string>その仕事が楽しいならまだ学んでいる途中ということ。つまらなくなった時がプロになったということで、そこで転業すれば全てが水の泡になる。つまらなくなったところから、更に高みに行くには、更に儲けるにはと工夫をし新たな学習を続ける。</string>
	<string>ゴシップやニュースは無用のごみ。頭にゴミを入れないこと。時間を無駄にする者の言うことを聞かないこと。接触を断つか最小限にすること。</string>
	<string>やる気が減退したなら、その専門のトップクラスの人々の仕事ぶりを見たり講演を聴き、どうやったら彼らを超えられるのかを脳に考えさせる。</string>
	<string>困っているときは学んでいる時で、困らなければ何も学べない。今困っていることを学び自分の価値を高めて高く売る。</string>
	<string>教育とはその専門分野の面白さを伝えることにある。練習とはそのおもしろさを体感するために必要なスキルを身につけることだ。実行とはそのおもしろさを実感するため挑戦し結果を得ることだ。</string>
	<string>一つのことに集中するには、それ以外のことをまずブロックし目や耳に入らないようにせよ。そうすれば努力しなくても見えているものだけに集中できる。</string>
	<string>ある仕事になかなか手を付けられない時は何からどうやって始めたら良いかわからない時。まず15分のみ決めて基本を一から学べ。最初の一歩を踏めば必ず走り始める。</string>
	<string>焦らすな。落ち着け、落ち着かせろ。気分を良くし、良くさせろ。恐怖や不安を煽るのは悪魔の仕業。心配すると余計悪いことが起こると思え。常に明るく、軽く、楽しく仕事に万事にあたれ。不安を煽り立てるな。
</string>
	<string>何を頼まれようが起ころうが、儲かることを考え行動せよ。Lemon を与えられたらLemonadeを作り儲ける。</string>
	<string>嫌なことや困ったことが起きたらゲーム化して工夫してみる。</string>
	<string>嫌なことは毎日でも起こるものだ。楽しいことは自発的に起こさないと起こらない。</string>
	<string>競争相手や人の欠点や弱点を語らないこと。いいところに着目し評価すれば、やがてその部分を乗り越えることができる。</string>
	<string>欠点や弱点を語るのは、既に競争を諦めている負け犬の遠吠えにすぎない。長所や強みに着目するものは、やがてその点を見習いものにし、改良し、相手を乗り越えていくだろう。</string>
	<string>自分と相手、そして周りがどう見るかを考えて行動できる大人（たいじん）となる。自分は周りにどう見られたいのか明確にし、それを貫く。</string>
	<string>自分の不遇を不遇を与えた相手と不遇の自分だけを考えるのではなく、天はなぜこんな試練を与えたのかを考えられるようになる。</string>
	<string>自分の劣等感や欲求不満や鬱憤の憂さ晴らしを他人にしない。人に期待して憂さ晴らしをすることが愛ではない。</string>
	<string>どこかで誰かが劣等感を植え付けた。気がついてない自分の劣等感の本性を暴き出し、捨て去れ。子供の為、従業員の為と言いながら自分の劣等感の憂さ晴らしをしているものだ。人の為と書いて偽と読む。相手に劣等感を与えない言動を心がけよ。不幸は勘違いから始まる。劣等感は心の問題で出世したり金持ちになったりもてることでなくなるものではない。</string>
	<string>人との関わりは必要最小限にしそれ以上は深入りしない。人の批判やケチをつけたがるのは必要以上に関わっているから。悪口は考えるだけで聞くだけで精神が腐る。</string>
	<string>人は時としてそのものがリスクや問題となる。時には他人のことを一切考えないようにすることも必要。自分の幸福をまず考え実行せよ。</string>
	<string>遊び友達以外は4年に一回会えば十分。毎年会うと何かしら期待を持たれる。急に親しく近づいて来る人は都合を押し付けようとしているか金を取ろうととしている。</string>
	<string>人の悪口を言う人間のそばにけしていてはいけない。人は本当に毒を吐くものだ。悪口を言わないひとたちが世の中には必ずいて、お前の来るのを待っている。</string>
	<string>人は自分の夢実現の為にポジティブに考え行動することにより、どれだけ周りの人間を明るく楽しめさせたかで良い因果を積むことができる。</string>
	<string>悪い因果が残った分、人は死ぬまでの間に苦しむことになる。悪い因果を積み残したならそれを上回る善い因果を積まなければ死ぬまでの間に必ずその分苦しみが待っていることになる。
</string>
	<string>世話になったら必ず感謝し返褒する。</string>
	<string>話がしつこい人たちをただひたすら避ける。くだらない話を聞かされた後は何日も精神にダメージが続く。時間を共有して楽しい人たちをはっきり見定めつきあいを限定すること。
</string>
	<string>ものごとや人間関係がうまくいかなくなったら、それまでの自分に執着してないで、生き方ややり方を変える。</string>
	<string>自分が一番最初の客となる。自分を動かせないなら誰も客にはならない。</string>
	<string>自分が惚れられる商品を見つけ、その商品のことを話し続ければ売れる。プロとして常に客に愛嬌を持って売りこむ。売れるかどうか気にしてはけして売れない。</string>
	<string>適性は頭ではわからない。心が知っていて心が反応するもの。</string>
	<string>客に夢と希望を与える商いに不況はない。ちなみに客はお前のことが好きか？</string>
	<string>目の前にいる人の気持ちを軽く、明るくさせることが幸福であり、幸福が幸運を呼ぶ。幸運は幸福な人が持つものであり、もたらされるものである。</string>
	<string>⁠⁠⁠⁠￼￼客いないかと探していても客が行きたくない店なのに客が見つかるわけがない。あなたが客を探しているようでは商売にならない。 客が「あなたのような店を探していた。」といわれるような人にならなければ商売にならない。そういう人間がちらしを配って宣伝するのは効果的である。客が探している人になってないのにいくら宣伝に金を使っても意味はない。</string>
	<string>世の中何をやっても大変なのは同じ。中卒で働きに出れば軽んじられ、外国に移住して一肌上げようと思えば人一倍苦難があり、安定した仕事を辞めれば常に溺れるかのような人生が待っている。そういった苦難は当たり前のことで、いちいち愚痴をこぼさず、笑顔で平然としていること。愚痴や悪口雑言、不機嫌な態度は周りを不幸にするだけ。</string>
	<string>⁠⁠やるとなったら覚悟をもって競合を調べ、行動し、改善し、ただでもやりきる。中途半端に嫌々やるやつは負け組になる。</string>
	<string>自分の専門では自分の力を出し切る。出し惜しみをせず自分の限界に挑戦して自分を押し出す。</string>
	<string>いいと思ったことはすべてやってみる。一回やって成功すると思わない。やろうと思ったことは全てやり尽くし、失敗したらやり直し、間違ったら修正すればいいだけ。</string>
	<string>⁠⁠￼客が困っている事を聴き出しそれを解決出来るスキルを身に付け、工夫をする事が金儲けに直結する。</string>
	<string>客に声をかけ、まず客の聞きたいことを探り出し、自分の言葉でPOP（宣伝物）を作成する。客はあなたと話したいはず。</string>
	<string>今いる目の前の客がどうしたら喜んでくれるか実行し、客に客を集めさせ、一人勝ちせよ。困っている同士連んでも無駄。</string>
	<string>客にされることなく行列のできる人となりすべてを客にする。そのための努力を今しているのか。女に好かれない男が女はどこにいるかと探しに行っても無駄。女に好かれる男になって初めて探しに行く意味がある。</string>
	<string>今回りにいる連中は、こちらを客にしているだけじゃないのか。お客や従業員や取引先にお客にされてしまっては、金が溜まるわけがない。売り上げが上がるわけがない。お客を客にする、従業員を客にする、取引業者まで客にして始めて一流の事業家。プロの誇りを忘れるないこと。お客や取引先や求職者が自ら寄ってきて行列を作るような事業家となる。</string>
	<string>気持ちよく三回来てもらえる工夫をすれば常連客創りになる。三回会ってくれれば見込みある。</string>
	<string>気持ちよく来てくれているのか、仕方なくか、あるいはお前が無理やり会いに行っているのか、良く見定めること。</string>
	<string>金を使わず知恵を使って売り上げをあげる方法を工夫し結果を出すこと。そうして初めて何にいくら金をかけるかという価値がわかる。</string>
	<string>知恵を出さないで何もしないのは怠け者。まず一銭も使わずに売り上げを上げるアイデアをできる限り考案する。それを実施して初めて効果のあるお金の使い方がわかる。</string>
	<string>商売はやればやるほど楽になっていくものだが、それが苦しくなっているなら、何かが間違っている。やり方を変えること。</string>
	<string>成功するまで物事を諦めない。しかし再度挑戦するならやり方やAssumptionを変えてみなければ意味がない。成功するまで挑戦し続けなければスキルは身につかない。</string>
	<string>すべてにおいて、スピードがすべて。仕事が遅いと余計大変になる。自転車はスピードを上げないと倒れる。社長の仕事は決断のスピードをあげること。</string>
	<string>世の中動いてる人間は意外と少なく、動くだけでも成功していく。</string>
	<string>機会とは少し不利な状態で始めること。何事も遊びと割り切りGameのつもりで挑戦を楽しみ続ける。</string>
	<string>じっと戦略をたてて仕掛けを作っているやつが必ず成功するビジネスの裏にいる。競争相手のどんな仕掛けも見抜き、それを上回る仕掛けを作る。京懐石料理は働かない貴族向けに塩分控えめで量少ない料理で利益率を高くできるように作られている。食材の仕入先は庶民と一緒の市場。売ったものがすぐなくなれば儲かる。金持ちから金を取れ。金持ちになると愛人を作る。愛人はダイヤモンドを欲しがる。世界中のダイヤモンドを買占め、価格操作のためにほとんどを海に捨てている連中がいる。金の流れをつかみ、いい商品を見せるだけでなく、仕掛けをしっかり作ること。Intelligent Propertyではアメリカに負け、価格では中国に負けていては、日本は何で勝てばいいのか。並みのことをしていては勝てるわけがない。</string>
	<string>⁠⁠⁠⁠⁠⁠⁠⁠指導者は、いばってはいけない、しかし舐められてもいけない。人に舐められないよう気迫を以ってことにあたり、人に接するときは優しくあれ。自らの振動数を常にあげ、人の振動数もあげること。舐められるのはお前が本気を出していないから。偉そうな格好をしてもやさしい声をかけること。偉そうな格好をするのも大切で、舐められるような安い服を着たり安い車を乗らない。しかしながら人に接するときは優しく。 優しい人いい人だけでは舐められる。欲を持て。</string>
	<string>採用した従業員が仕事ができるとけして思わないこと。正しい挨拶の仕方から教え、できるようになったら評価する。</string>
	<string>自分を許し、他人を許す。教えたことができない従業員がいたら教え方を何回でも変えて教える。</string>
	<string>自分のためにもなる、人のためにもなる、回りのためにもなり、天命に沿うなら、失敗はありえない。</string>
	<string>人様の役に立つなら儲かるようになっている。儲からないとしたら今までのやり方に執着してはならない。人に喜ばれることをやっていれば天も味方するし、成功する。</string>
	<string>固定観念に縛られたり自分の意見が一番正しいと思い込んで暴走しないこと。</string>
	<string>自惚れて自分一人で事業を成り立たせてると思わない。社員、顧客、業者を信頼して仕事を任せる。</string>
	<string>Vision、Policyをわかりやすく定め、社内外に常に貫き、自己矛盾する様な言動が無い様に律し、小さい嘘もけしてつかない。言い訳するくらいならまず謝る。</string>
</array>
</plist>
